.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    gap: 4px;
}

.image {
    width: 240px;
    height: 120px;
}

.price {
    vertical-align: middle;
}

.itemName {
    text-align: center;
}