.container {
    display: flex;
    flex-direction: column; 
}

.drag_list {
    display: flex;
    flex-direction: column;    
    gap: 16px;
    overflow-y: scroll;
    height: calc(100vh - 280px);  
}

.drag_element {
    display: flex;
    align-content: center;
}