.header {
	display: flex;
	align-items: center;
	align-content: space-evenly;
	justify-content: center;
}

.link {	
	color: var(--text-inactive-color);
}

.link_active {
	color: var(--text-primary-color);
}

.text_color_primary span {
	color: #FFF !important; /** FIXME */
}