.header {
	display: flex;
	align-items: center;
	align-content: space-evenly;
	justify-content: center;
}

.link {
	text-decoration: none;
}

.text_color_primary span {
	color: #FFF !important; /** FIXME */
}